# This is a sample PCRAM configuration with mats organized and routed in bus-manner
# instead of traditional H-tree. The sense amps are placed outside the mats.
# The structure is similar to the design in "A 0.1um 1.8V 256Mb phase-change random 
# access memory with 66MHz synchronous burst read operation", JSSC 2007

-DesignTarget: RAM

-OptimizationTarget: Area 

-SecondOptimizationTarget: ReadLatency

-ProcessNode: 28

-Capacity (KB): 1024

-MemCellLevel: SLC

-WordWidth (bit): 64

-Temperature (K): 350

-DeviceRoadmap: HP 

-Routing: H-tree 

-MemoryCellInputFile: config/sample_PCRAM_NIMBLE_bank_28.cell

// -ForceMatA (Total AxB): 12x12

-StackedDieCount: 1