# Build directories
/build/
/obj/

# Result repository
/results/
/config/config_DATE/
/config/config_nimble/

# Binary
/destiny

# Dependencies
*.d

# Object files
*.o

# Temporary files
*.swp
*~

# macOS system files
.DS_Store

# Python files
__pycache__/
*.py[cod]

# Dependency files
Makefile.dep

# Editor specific
.vscode/
.idea/