# Build directories
/build/
/obj/

# Result repository
/results/

# Binary
/destiny

# Dependencies
*.d

# Object files
*.o

# Temporary files
*.swp
*~

# specific
.DS_Store
.vscode

# Python files
__pycache__/
*.py[cod]

# Dependency files
Makefile.dep

# Editor specific
.vscode/
.idea/