# This is a sample PCRAM configuration with mats organized and routed in bus-manner
# instead of traditional H-tree. The sense amps are placed outside the mats.
# The structure is similar to the design in "A 0.1um 1.8V 256Mb phase-change random 
# access memory with 66MHz synchronous burst read operation", JSSC 2007

#REMEMBER TO CHANGE FILE WHEN YOU CHANGE THE TECHNOLOGY 

-DesignTarget: RAM

-OptimizationTarget: Area

-OutputFilePrefix: 2x1x2

//-SecondOptimizationTarget: ReadLatency

-ProcessNode: 28

-Capacity (MB): 4

-MemCellLevel: SLC

-WordWidth (bit): 16

-Temperature (K): 350

-DeviceRoadmap: HP 

-Routing: H-tree 

-StackedDieCount: 2

-MemoryCellInputFile: config_nimble/PCRAM_28.cell

-ForceBankA (Total AxB): 4x4

//-ForceBank (Total AxB, Active CxD): 4x4, 4x4

//-ForceMat (Total AxB, Active CxD): 1x1, 1x1

//-ForceMuxSenseAmp: 1

//-ForceMuxOutputLev1: 8

//-ForceMuxOutputLev2: 64

